<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
    <!--    1_3. resultMap 추가 -->
    <!--    게시글 목록들 조회용 resultMap-->
    <resultMap id="blistResultSet" type="Board">
        <id property="bId" column="BID"/>

        <result property="bType" column="BTYPE"/>
        <result property="bTitle" column="BTITLE"/>
        <result property="bContent" column="BCONTENT"/>
        <result property="bWriter" column="BWRITER"/>
        <result property="userName" column="USER_NAME"/>
        <result property="bCount" column="BCOUNT"/>
        <result property="bCreateDate" column="B_CREATE_DATE"/>
        <result property="bModifyDate" column="B_MODIFY_DATE"/>
        <result property="bStatus" column="B_STATUS"/>
    </resultMap>

    <!--   2_3. 게시글 상세보기용 resultMap-->
    <resultMap id="replyResultSet" type="Reply">
        <id property="rId" column="RID"/>
        <result property="rContent" column="RCONTENT"/>
        <result property="refBid" column="REF_BID"/>
        <result property="rWriter" column="RWRITER"/>
        <result property="userName" column="R_USER_NAME"/>
        <result property="rCreateDate" column="R_CREATE_DATE"/>
        <result property="rModifyDate" column="R_MODIFY_DATE"/>
        <result property="rStatus" column="R_STATUS"/>
    </resultMap>
    <resultMap id="bdetailResultSet" type="BOARD">
        <id property="bId" column="BID"/>

        <result property="bType" column="BTYPE"/>
        <result property="bTitle" column="BTITLE"/>
        <result property="bContent" column="BCONTENT"/>
        <result property="bWriter" column="BWRITER"/>
<!--        B_USER_NAME 은 원래 USER_NAME으로 복사붙여넣기한거.-->
        <result property="userName" column="B_USER_NAME"/>
        <result property="bCount" column="BCOUNT"/>
        <result property="bCreateDate" column="B_CREATE_DATE"/>
        <result property="bModifyDate" column="B_MODIFY_DATE"/>
        <result property="bStatus" column="B_STATUS"/>

        <collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"/>
<!--        방금 쓰던 id,result 가 아닌 collection을 가지고 작업하게 되며 Board클래스의 필드인 replyList(ArrayList)에 매핑시킨다.-->
    </resultMap>

    <!--    1_1. 게시글 수 조회용 쿼리문 -->
    <select id="selectListCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE B_STATUS='Y'
    </select>
    <!--    1_2. 게시글 목록 조회용 쿼리문 -->
    <select id="selectBoardList" resultMap="blistResultSet">
        SELECT *
        FROM BOARD B
        JOIN MEMBER M ON(B.BWRITER = M.MID)
        WHERE B_STATUS='Y'
        ORDER BY BID DESC
    </select>

    <!--    2_1. 조회수 증가용 쿼리문  파라미터타입은 자동으로 생성해줌, 리절트타입이나 리절트맵을 무조건써줘야함(select)-->
    <update id="updateBoardCount">
        UPDATE BOARD
        SET BCOUNT = BCOUNT + 1
        WHERE BID=#{bId}
    </update>

    <!--상세보기용 쿼리문 -->
    <select id="selectBoardDetail" resultMap="bdetailResultSet">
        SELECT BID,BTYPE,BTITLE,BCONTENT,M.USER_NAME AS B_USER_NAME,
             BCOUNT,B_CREATE_DATE,B_MODIFY_DATE,B_STATUS,
              RID,RCONTENT,REF_BID,M2.USER_NAME AS R_USER_NAME,
             R_CREATE_DATE,R_MODIFY_DATE,R_STATUS
         FROM BOARD B
         JOIN MEMBER M ON (B.BWRITER = M.MID)
         LEFT JOIN REPLY R ON (B.BID = R.REF_BID)
         LEFT JOIN MEMBER M2 ON (R.RWRITER = M2.MID)
         WHERE B.BID = #{bId}
        AND B_STATUS='Y'
        ORDER BY RID DESC
    </select>
</mapper>